body {
position: relative;
}

img {
position: absolute;

}

.butterfly {
width: 90px;
}

#bt0 {
left:360px;
top:350px;
}
#bt1 {
left:150px;
top:390px;
}
#bt2 {
left:590px;
top:430px;
}

.foo {
width: 35px;
}

#f0 {
left:365px;
top:270px;
}
#f1 {
left:365px;
top:190px;
}
#f2 {
left:700px;
top:260px;
}
#f3 {
left:573px;
top:220px;
}
#f4 {
left:485px;
top:280px;
}

#b1 {
pointer-events: none;
}

#message {
position: absolute;
left: 20px;
top: 40px;
background: #ffffff80;
padding: 10px;
color: #C71585;
font-weight: bold;
font-size: 22px;
}
